[Unit]
Description=CamGrid Frame Generator

[Service]
Type=simple
ExecStart=/usr/local/bin/camgridloop.sh
ExecStop=/usr/local/bin/camgridstopframecaptures.sh
Restart=always
RestartSec=5
StandardOutput=null
SyslogIdentifier=camgrid

[Install]
WantedBy=default.target
